.flip-cards-heading{
    text-align: center;
    margin-bottom: 60px;
}

.flip-card {
    perspective: 1000px;
    padding: 0;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: ease-in-out 0.8s;
    transform-style: preserve-3d;
    height: 0;
    width:70%;
    padding-bottom:70%;
    margin: 10px auto;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    background-color: var(--coffee-brown-color);
    color: white;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.flip-card-img{
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}