@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  font-family: "Helvetica Neue", "Roboto", sans-serif !important;
}

h1 {
  font-family: "Dancing Script", sans-serif !important;
}

h2 {
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  font-size: 15px;
}

a {
  color: var(--coffee-brown-color);

  &:hover {
    color: inherit;
  }
}